@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Text selection style */
::selection {
  background-color: #ffd700;
  color: #000000;
}

::-moz-selection {
  background-color: #ffd700;
  color: #000000;
}
