name: CI

on:
  pull_request:
    branches: [ "Develop", "QA", "main" ]
  push:
    branches: [ "Develop" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Typecheck
        run: npm run typecheck
        if: always()

      - name: Build
        run: npm run build
        if: always()
